[submodule "HardwareRepository"]
	path = HardwareRepository
	url = git://github.com/MAXLABMX/HardwareRepository
[submodule "BlissFramework"]
	path = BlissFramework
	url = git://github.com/MAXLABMX/BlissFramework
